version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: postgres_encurtador
    environment:
      POSTGRES_DB: encurtador_url
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: encurtador_api
    ports:
      - "5050:5050"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/encurtador_url
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    restart: always
    depends_on:
      - postgres

volumes:
  postgres_data:
