services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_encurtador
    environment:
      POSTGRES_DB: encurtador_url
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    # image: ccaueg/encurtador-url:latest
    build: .
    container_name: encurtador_api
    ports:
      - "5050:5050"
    env_file:
      - .env
    restart: always
    depends_on:
      - postgres

volumes:
  postgres_data: